
<footer class="container center-align">
  <p>אתר זה שואב חדשות מהאתר <a href="http://rotter.net/forum/listforum.php" target="_blank">Rotter.net</a></p>
  <p>כל הזכויות על התוכן שמורות לרוטר.נט</p>
  <p>&copy; Ammo 2017</p>
</footer>

<!-- Import jQuery before materialize.js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- materialize.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script src="/rotter.js"></script>

</body>
</html>