<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <!-- optimized for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <!-- Materialize.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- App style -->
  <link rel="stylesheet" href="/rotterStyle.css">
</head>
<body dir="rtl">